<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<head>
    <title>Ciao a tutti</title>
</head>
<body>
    <center>
        <h1>Buonasera a tutti</h1>

        <form action="/registrati" method="get">
        
            <label for="name">Inserisci il tuo nome:</label>
            <input type="text" id="name" name="name" placeholder="Il tuo nome" required>
            <label for="cognome:">Inserisci il tuo cognome:</label>
            <input type="text" id="cognome" name="cognome" placeholder="il tuo cognome" required>
            <input type="submit" value="invia">
        
        </form>
    </center>

    <a href="/x">Ciaooo</a>
</body>
</html>